@{
  Layout = "_Layout";
}

<h1>Library</h1>
<hr />
<h4><a href="/books">View Books</a></h4>
<h4><a href="/authors">View Authors</a></h4>
<h4><a href="/history">History</a></h4>


<h4><a href="/">Return Home</a></h4>
