@{
  Layout = "_Layout";
}

<h1>Library</h1>
<hr />

<h3>Your data has been recorded!</h3>

<p><a href="/books">List of Books</a></p>
<p><a href="/authors">List of Authors</a></p>
<p><a href="/overdue">List of Overdue Books</a></p>


<h4><a href="/librarian">Return to directory</a></h4>
